:root {
    --primary-text-color: #757575;
    --secondary-text-color: #212121;
    --accent-color: #2196F3;
    --white-translucent: rgba(255, 255, 255, 0.6);
    --primary-background-color: #2F303A;
    --secondary-background-color: #F5F4FA;
    --card-gap: 30px;
}